/*===============================================================*/
/*-----------------Début Exercices à completer---------------------*/
/*===============================================================*/

.cube:hover {
  /* A completer */
background-color: red;
transition-timing-function: ease-in-out;
transition-duration: 5s;
}

.cube2:hover{
  /* A completer */
  background-color: red;
  transition-timing-function: ease-in;
  transition-duration: 1s;
  }

.cube3:hover{
  /* A completer */
  transition-delay: 5s;
  background-color: red;
  transition-timing-function: ease-in;
  transition-duration: 5s;
  }

.cube4:hover{
  /* A completer */
  transition-duration: 5s;
  width: 200px;
  height: 200px
}

.cube5:hover{
  /* A completer */
transform: rotate(360deg);
transition-duration: 5s;
}

div.img:hover img#lievre{
  /* A completer */
 margin-left: 500px;
 transition-duration: 3s;
 transition-timing-function: linear;
 transition-property: all;
}

div.img:hover img#drapeau {
    /* A completer */
    transition-delay: 3s;
    transition-duration: 2s;
    transition-property: all;
    transition-timing-function: linear;
    transform: rotateY(180deg);


}

#carre-rond{
  float:right;
	width: 90px; height: 90px;
	margin: 15px 30px;
	background: #fff;
	border: 20px solid #aaa;
	border-radius: 30px;
	/* A completer */


}

#carre-rond:hover {
	/* A completer */
transform: rotate(36000deg);
border-radius: 50%;
transition-duration: 10s;
transition-property: all;
transition-timing-function: ease-in;
}

.mv-item a { /*Couleur police #666 */
  margin: 1px 0;
  padding: 8px 20px;
	/* A completer */



}

.mv-item a:hover, .mv-item a:focus { /*Couleur du fond #1ABC9C, police #FFF*/
	/* A completer */
transition-duration: 2s;
transition-property: all;
transition-timing-function: linear;
background-color: #1ABC9C;
color: #FFF;
padding: 8px 60px;
text-decoration: none;
}

/*===============================================================*/
/*-----------------Fin Exercices à completer---------------------*/
/*===============================================================*/






/*===============================================================*/
/* --------------Mise en page Début - Ne pas toucher-------------*/
/*===============================================================*/

main{
  width: 700px;
  margin:0 auto;
}
h2, h1{
  text-align: center;
}
.separation{
  border:solid 5px black;
  margin:40px auto;
}
.clear{
  clear: both;
}
.cube, .cube2, .cube3, .cube4, .cube5 {
  display: inline-block;
  color: black;
  width: 150px;
  height: 150px;
  border:solid 2px black;
  text-align: center;
  margin-left: 60px;
}
.cube5{
  float:left;
}
img#lievre{
  float:left;
  width: 100px;
  height: 100px;
}
img#drapeau{
    float: right;
    width: 100px;
    height: 100px;
}
.menu-vertical {
  width: 250px;
  list-style: none;
  padding: 4px;
  margin: 0 auto;
  border:solid 6px #D4C8C8;
}
.mv-item, .mv-item a {
  display: block;
  border-bottom: solid 1px #D4C8C8;
}
p.last {
    text-align: center;
    font-weight: bold;
}
/*===============================================================*/
/* ---------------Mise en page Fin - Ne pas toucher--------------*/
/*===============================================================*/
